html, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
  overflow: hidden;
  cursor: crosshair;
}
/* document { font-size:14px; } */
#content {
  height: 100%;
  margin: 0;
}
.panel {
  display: block;
  margin: auto;
  position: relative;
  background: #363636;
}
.majorObject {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.minorObject {
  fill: #363636;
  stroke-width: 0.5px;
  stroke: #00ff66ff;
}
.majorOrbit {
  fill: none;
  stroke-width: 0.8px;
  stroke: #c3c3c3ff;
  stroke-dasharray: 20 5;
  fill: #363636;
}
.minorOrbit {
  fill: none;
  stroke-width: 0.2px;
  stroke: #c3c3c3ff;
  stroke-dasharray: 5 10;
}
.orbitDivLine {
  fill: none;
  stroke-width: 0.3px;
  stroke: #c3c3c3ff;
  stroke-dasharray: 20 5;
}
.symbolLine {
  fill: none;
  stroke-width: 2px;
  stroke: #a3a3a3ff;
  fill: #363636;
}
.grid {
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: none;
}
.gridBold {
  stroke-width: 1px;
  stroke: #a3a3a3ff;
  fill: none;
}
.dataWindow {
  stroke-width: 0.5px;
  stroke: #c3c3c3ff;
  fill: #363636;
}
.dataLine {
  stroke-width: 2px;
  stroke: #c3c3c3ff;
  fill: none;
}
.dataText {
  font: 1rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
}
.bold {
  font-weight: bold;
}
.rangeWindow {
  stroke-width: 0.25px;
  stroke: #c3c3c3ff;
  fill: #363636;
}
.rangeText {
  font: 1rem B612 Mono;
  fill: #a3a3a3ff;
  user-select: none;
  /* width: auto; */
  /* text-align: center; */
}
.rangeLine {
  fill: none;
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  stroke-dasharray: 1 9;
}
.vector {
  fill: none;
  stroke-width: 0.5px;
  stroke: #ffffffff;
  fill: none;
}
.craft {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.craftDataText {
  font: 1rem B612 Mono;
  stroke: none;
  fill: #ffffffff;
  user-select: none;
}
.intercept {
  fill: none;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.bodyZone {
  fill: none;
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  stroke-dasharray: 2 1;
}
.redStroke {
  stroke: #ff0000ff !important;
}
.station {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.star {
  fill: #363636;
  stroke-width: 1px;
}
.frame {
  fill: none;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.standardBox{
  fill: #363636;
  stroke-width: 0.5px;
  stroke: #ffffffff;
}
.standardBoxSelectable {
  fill: #363636;
  stroke-width: 0.5px;
  stroke: #ffffffff;
}
.standardBoxSelectable:hover {
  stroke: #ffb500;
  stroke-width: 1px;
}
.standardLine {
  fill: none;
  stroke-width: 0.5px;
  stroke: #ffffffff;
}
.scaleEmpty {
  fill: #363636;
  stroke-width: 1px;
  stroke: #ffffffff;
}
.scaleFull {
  fill: #ffffffff;
  stroke-width: 1px;
  stroke: #ffffffff;
}
