html, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
}
#content {
  height: 100%;
  margin: 0;
}
.panel {
  display: block;
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  background: #363636;
}
.majorObject {
  fill: #363636;
  stroke-width: 2px;
  stroke: #00ff66ff;
}
.minorObject {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.majorOrbit {
  fill: none;
  stroke-width: 0.8px;
  stroke: #c3c3c3ff;
  stroke-dasharray: 20 5;
  fill: #363636;
}
.minorOrbit {
  fill: none;
  stroke-width: 0.3px;
  stroke: #c3c3c3ff;
  stroke-dasharray: 20 5;
}
.symbolLine {
  fill: none;
  stroke-width: 1px;
  stroke: #a3a3a3ff;
  fill: #1a1a1a;
}
.grid {
  stroke-width: 0.2px;
  stroke: #a3a3a3ff;
  fill: none;
}
.dataWindow {
  stroke-width: 0.5px;
  stroke: #c3c3c3ff;
  fill: #363636;
}
.dataText {
  font: 10px B612 Mono;
  fill: #ffffffff;
}
.rangeWindow {
  stroke-width: 0.25px;
  stroke: #c3c3c3ff;
  fill: #363636;
}
.rangeText {
  font: 10px B612 Mono;
  fill: #a3a3a3ff;
  /* width: auto; */
  /* text-align: center; */
}
.rangeLine {
  fill: none;
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  stroke-dasharray: 2 5;
}
.vector {
  fill: none;
  stroke-width: 0.5px;
  stroke: #a3a3a3ff;
  fill: none;
}
.craft {
  fill: #363636;
  stroke-width: 1px;
  stroke: #00ff66ff;
}
.craftDataText {
  font: 10px B612 Mono;
  fill: #ffffffff;
}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
