html, body {
  background: #1a1a1a;
  height: 100%;
  margin:0;
}
#content {
  height: 100%;
  margin: 0;
}
.panel {
  display: block;
  margin: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  background: #363636;
}
.majorObject {
  fill: #1a1a1a;
  stroke-width: 3px;
  stroke: #00ff66ff;
}
.majorOrbit {
  fill: none;
  stroke-width: 1px;
  stroke: #00ff66ff;
  stroke-dasharray: 5 5;
}
.grid {
  stroke-width: 0.2px;
  stroke: #00ff66ff;
}
